body {
    background-color: rgb(31, 33, 48);
}
h1,
label,
p {
    color: white;
}
select,
button {
    font-weight: bold;
    font-size: larger;
    text-align: center;
    width: 100px;
    padding: 0;
}
main{
    margin: 10px;
}
.d-flex {
    display: flex;
    text-align: center;
}
.d-flex-col {
    flex-direction: column;
    gap: 10px;
}
.d-flex-row {
    gap: 10px;
    text-align: center;
    margin: auto;
}
.d-grid {
    display: grid;
    margin: auto;
    grid-column-gap: 0px;
}
.pointer-disable {
    pointer-events: none;
}
.grid-easy {
    grid-template-columns: repeat(7, 1fr);
}
.grid-medium {
    grid-template-columns: repeat(9, 1fr);
}
.grid-hard {
    grid-template-columns: repeat(12, 1fr);
}
.grid-btns {
    width: 40px;
    height: 40px;
    background-color: rgb(193, 199, 255);
}
.grid-btns:hover {
    background-color: rgb(144, 144, 144);
}
.btn-nm {
    background-color: rgb(117, 124, 182);
}
.btn-m {
    background-image: url("img/bomb.png");
    background-position: center;
    background-size: cover;
    pointer-events: none;
    background-color: red;
    animation: showMine 1s;
}
.mine-1 {
    background-color: rgb(134, 211, 255);
}
.mine-2 {
    background-color: rgb(63, 219, 42);
}
.mine-3 {
    background-color: rgb(24, 85, 5);
}
.mine-4 {
    background-color: rgb(146, 180, 23);
}
.mine-5 {
    background-color: rgb(223, 164, 4);
}
.mine-6 {
    background-color: rgb(223, 121, 4);
}
.mine-7 {
    background-color: rgb(184, 51, 28);
}
.mine-8 {
    background-color: rgb(255, 0, 0);
}
.lost {
    font-size: 50px;
    margin: 0;
    text-shadow: 2px 2px #000000;
    animation: lost 1.5s infinite;
    font-style: oblique;
}
.pop-up{
    background-color: rgba(118, 131, 255, 0.5);
    padding: 15px;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.fixed-stats{
    font-size: 20px;
    text-shadow: 2px 2px #000000;
}
.win {
    font-size: 50px;
    background-color: rgb(190, 194, 228);
    animation: win 1.5s infinite;
    font-style: italic;
    left: 0;
    right: 0;
}
.pres {
    opacity: 1;
    animation: tittle 2.2s;
}
@media (max-width: 500px) {
    .d-flex-row {
        flex-direction: column;
        gap: 12px;
    }
    .d-grid>button {
        width: 30px;
        height: 30px;
    }
}
@keyframes win {
    0% {
        opacity: 1;
        color: rgb(43, 183, 226);
    }
    50% {
        opacity: 0.65;
        color: rgb(0, 255, 170);
    }
    100% {
        opacity: 1;
        color: rgb(43, 183, 226);
    }
}
@keyframes lost {
    0% {
        opacity: 1;
        color: rgb(226, 43, 43);
    }
    50% {
        opacity: 0.65;
        color: rgb(255, 136, 0);
    }
    100% {
        opacity: 1;
        color: rgb(226, 43, 43);
    }
}
@keyframes tittle {
    0% {
        opacity: 0;
        margin-top: 200px;
    }
    100% {
        margin-top: 0px;
        opacity: 1;
    }
}
@keyframes showMine {
    0% {
        opacity: 0;
        background-color: blueviolet;
    }
    100% {
        opacity: 1;
        background-color: red;
    }
}
